<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Chess</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div id="game-view">
        <div id="game-view-info"></div>

        <div id="game-view-squares">
            <%  for(let i=0; i<chessboardData.length; i++) { %>
                <div
                    class="game-view-square"
                    id="<%= chessboardData[i].cellState%>"
                    data-x="<%= chessboardData[i].x%>"
                    data-y="<%= chessboardData[i].y%>"
                    onclick="moveFigure(event)"
                >
                    <%- chessboardData[i].figure %>
                </div>
            <% } %>
        </div>
    </div>

</body>

<script>
    function moveFigure(event) {
        const clickedFigureCoordinates = getClickedCellCoordinates(event);
        const potentialCellsCoordinates = getPotentialCellsCoordinates(event, clickedFigureCoordinates);

        const potentialCellsData = document.querySelectorAll(
          `[data-x='${potentialCellsCoordinates.x}'][data-y='${potentialCellsCoordinates.y}']`
        );

        if (potentialCellsData.length !== 0 &&
          potentialCellsData[0].attributes.id.nodeValue !== "filled") {
            /*
            1. заменить айди изначальной клетки на empty
            2. заменить айди ожидаемой клетки на filled
            3. очистить символьное значение пешки в изначальной клетке
            4. добавить значение пешки в ожидаемую клетку
             */
        }
    }

    function getClickedCellCoordinates(event) {
      const x = Number.parseInt(event.target.getAttribute("data-x"));
      const y = Number.parseInt(event.target.getAttribute("data-y"));

      return {x, y};
    }

    function getPotentialCellsCoordinates(event, clickedFigureCoordinates) {
      return {x: clickedFigureCoordinates.x + 1, y: clickedFigureCoordinates.y};
    }

</script>

<style>
    #game-view {
        width: 500px;
        margin: 0 auto;
        border: 1px solid #000;
    }

    #game-view-info {
        padding: 15px;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        background-color: #eee;
    }

    #game-view-squares {
        height: 500px;
        display: flex;
        flex-wrap: wrap;
        padding: 25px;
        box-sizing: border-box;
    }

    .game-view-square {
        width: 12.5%;
        height: 12.5%;

        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        font-size: 12px;
        border-style: solid;
    }


</style>

</html>