<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Chess</title>
</head>

<body onload="launchChessboardInstance()">
    <div id="chess-info"></div>
    <canvas id="chess-board" onclick="showCoordinates(event)"></canvas>
</body>

<style>
    body {
        background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%)
    }

    main {
        max-width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    canvas {
        border-radius: 0.5em;
    }

</style>

<script>
  class ChessBoard {
    constructor(config) {
      this.options = {
        selector: document.querySelector("#chess-board"),
        width: 400,
        height: 400,
        size: 8,
        light: '#d1eefc',
        dark: '#1f1f21'
      };
      if (config) Object.assign(this.options, this.options, config);
      this.draw();
    }

    draw() {
      let element = this.options.selector;
      let context = element.getContext("2d");
      let squareWidth = this.options.width / this.options.size;
      let totalSquares = Math.pow(this.options.size, 2);
      let i, x, y = -1;

      element.width = this.options.width;
      element.height = this.options.height;

      for (i = 0; i < totalSquares; i++) {
        x++;
        if (i % this.options.size === 0) {
          y++;
          x = 0;
        }

        context.beginPath();
        context.rect(x * squareWidth, y * squareWidth, squareWidth, squareWidth);
        context.fillStyle = (x + y) % 2 ? this.options.dark : this.options.light;
        context.fill();
      }
    }
  }

  function launchChessboardInstance() {
    return new ChessBoard();
  }

  function showCoordinates(event) {
    const x = event.clientX
    const y = event.clientY
    console.log("x: " + x + " y: " + y)
  }
</script>

</html>